@font-face {
  font-family: "Space Grotesk";
  src:
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Light.woff2") format("woff2"),
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Regular.woff2")
      format("woff2"),
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Medium.woff2")
      format("woff2"),
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    url("./../public/SpaceGroteskFont/SpaceGrotesk-SemiBold.woff2")
      format("woff2"),
    url("./../public/SpaceGroteskFont/SpaceGrotesk-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src:
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Bold.woff2") format("woff2"),
    url("./../public/SpaceGroteskFont/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
}

.wrapper {
  @apply mx-auto w-full px-4 xl:container;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span {
  @apply inline-block;
}

.tawk-icon-right {
  @apply hidden;
}
