@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.wrapper {
  @apply mx-auto w-full px-4 xl:container;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span {
  @apply inline-block;
}

.hide-scrollbar,
.team {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar,
.team::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.tawk-icon-right {
  @apply hidden;
}

/* TOASTITY */
.Toastify__progress-bar--info {
  @apply bg-goldie-500;
}

.custom.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb,
.custom.react-toggle--focus .react-toggle-thumb {
  @apply shadow-none;
}

/* SWIPER  */
.team .swiper {
  position: relative !important;
  /* overflow: hidden scroll !important; */
  /* height: 250px !important; */
  padding-inline: 80px !important;
}

.new .swiper {
  padding-inline: 50px !important;
}

.team .swiper-pagination {
  margin-top: 20px !important;
  position: static !important;
}

.team .swiper-pagination-bullet-active {
  background: #000 !important;
}

.team .swiper-button-next:after,
.team .swiper-button-prev:after {
  font-size: 32px !important;
  color: #000 !important;
}

.team .swiper-button-next,
.team .swiper-button-prev {
  transform: translateY(50% - 20px);
  z-index: 20 !important;
}
